# Created by .ignore support plugin (hsz.mobi)
.idea

cmake-build-debug/
Docs/.ipynb_checkpoints
lib/

ButterworthFilterTools
ButterworthFilterTools.cbp
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
